<p>
  <strong>Slug:</strong>
  <%= @subject.slug %>
</p>

<p>
  <strong>Identifier stable:</strong>
  <%= @subject.identifier_stable %>
</p>

<p>
  <strong>Identifier temp:</strong>
  <%= @subject.identifier_temp %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subject.type %>
</p>

<p>
  <strong>Type properties:</strong>
  <ul>
  <% @subject.type_properties.each do |k,v|%>
    <li><%= k %>: <%= v %></li>
  <% end if @subject.type_properties %>
  </ul>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @subject.remarks %>
</p>
<%= link_to 'Destroy', sti_subject_path(@subject.type, @subject), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "New #{@type}", sti_subject_path(@type, nil, :new) %> | 
<%= link_to 'Edit', sti_subject_path(@subject.type, @subject, :edit) %> |
<%= link_to 'Back', sti_subject_path(@subject.type) %> | 

        <div class="btn-group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon("plus") %> New <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% for subtype in @subject.class.subtypes do %>
              <%= content_tag :li, link_to(subtype, sti_subject_path(subtype, nil, :new, parent_id: @subject.id)) %>
            <% end %>    
          </ul>
        </div>
